.btn {
  font-family: "Public Sans Bold", sans-serif;
  color: white;
  background-color: #fff;
  color: #000;
  border-radius: 50px;
  font-size: 1.2rem;
  padding: 1.2rem 4rem;
  text-transform: uppercase;
  transition: padding 0.3s ease;

  &:hover {
    padding: 1.2rem 6rem;
  }
}
