.picker {
  position: fixed;
  top: 10rem;
  left: 5rem;
  display: flex;

  gap: 2rem;
  align-items: flex-end;
  color: white;
  z-index: 2;

  span {
    font-family: "Public Sans Bold", sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    cursor: pointer;
    font-weight: bold;
    padding: 0.25rem;
    opacity: 0.5;
    transition: all 0.2s;
  }

  .current {
    opacity: 1;
  }
}


@media(max-width: 540px) {

  .picker {
    left: 50%;
    transform: translateX(-50%);
    flex-wrap: wrap;
    width: 100%;


    span {
      font-size: 1.5rem;
    }
  }


}